<?php

/**
 * @author    Filippo Bovo
 * @copyright Copyright (c) 2018-2019 Twenti (https://twenti.io)
 * @package   Twenti_Theme
 */

?>
<?php if ( $child = $block->getChildBlockFromRequest() ) : ?>
    <?= $child->toHtml() ?>
<?php else : ?>
    <ul>
        <?php foreach ( $block->getLayout()->getChildBlocks( $block->getNameInLayout() ) as $alias => $child ) : ?>
            <li><a href="<?= $block->getUrl( 'theme/uikit', [ 'block' => $alias ] ) ?>"><?= $alias ?></a></li>
        <?php endforeach; ?>
    </ul>
<?php endif ?>
